/* Global */

html, body {
    color: #fff;
    font-family: Arial;
    background-color: #2c67bb;
}

.bg-cover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-contain {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Form */

label {
    font-family: 'Akkurat-Light-Pro';
    font-weight: bold;
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.ui-input, .ui-textarea {
    color: #fff;
    background-color: #1c4280;
    border: 1px solid #4b7ec5;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.wpcf7-not-valid-tip {
    color: #801c1c;
    font-size: 14px;
    padding-left: 5px;
}

/* Typography */

h1, h2 {
    font-family: 'Akkurat-Light-Pro';
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    color: #fff;
    font-family: 'Akkurat-Light-Pro';
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}

.author {
    font-size: 12px;
    margin-top: 10px;
}

@font-face {
    font-family: 'Akkurat-Light-Pro';
    src: url('../webfonts/akkurat-light-pro/akkuratlightpro-regular-webfont.eot');
    src: url('../webfonts/akkurat-light-pro/akkuratlightpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/akkurat-light-pro/akkuratlightpro-regular-webfont.woff') format('woff'),
         url('../webfonts/akkurat-light-pro/akkuratlightpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* UI */

.ui-button {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e9a33d;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 8px;
    padding: 6px 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-button:hover {
    color: #000;
    background-color: #e9a33d;
}

/* Header */

#header-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#logo-sds {
    width: 218px;
    height: 72px;
    position: absolute;
    bottom: -32px;
    left: -4px;
    z-index: 1;
}

#logo-sds img {
    width: 100%;
    height: auto;
}

#header-nav {
    background-color: rgba(0,0,0,0.8);
    border-bottom-right-radius: 6px;
    padding-left: 209px;
    overflow: auto;
}

#header-nav ul {
    padding: 0;
    margin: 0;
}

#header-nav li {
    float: left;
}

#header-nav nav a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #285eb4;
    padding: 10px 20px 8px 20px;
    margin: 0 1px 2px 1px;
    display: block;
    transition: padding 0.2s ease-in-out;
}

#header-nav nav a:hover, #header-nav nav li.current-menu-item a, #header-nav nav li.current-page-ancestor a {
    background-color: #1c4280;
}

.social-nav ul {
    padding: 0;
    list-style: none;
}

.social-nav a {
    padding: 10px 7px 8px 7px;
    display: block;
}

/* Content */

#template-left-sidebar-content {
    padding: 0 20px 60px 20px;
}

#heading-hero {
    width: 100%;
    min-height: 553px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.4);
    margin-bottom: 60px;
}

#sidebar {
    background-color: #16335d;
    border-radius: 10px;
    padding: 0 20px 20px 20px;
}

#sidebar ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#sidebar li {
    margin-top: 20px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

#sidebar a:hover, #sidebar .current-menu-item a {
    color: #ff9900;
}

/* Blog */

.read-more {
    color: #ff9900;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

/* Blog Detail */

.blog-subpage {
    margin-top: 100px;
    margin-bottom: 60px;
}

.blog-post-full {
    padding-bottom: 20px !important;
}

.blog-post-full a {
    color: #fff;
}

.blog-subpage .navigation a {
    color: #ff9900;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-subpage .navigation .divider {
    color: #ff9900;
    font-size: 12px;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #0a192f;
    padding-top: 40px;
}

/* Sub Footer */

#sub-footer {
    background-color: #03060c;
    padding-left: 20px;
    padding-right: 20px;
}

#sub-footer nav ul {
    padding: 0;
}

#sub-footer nav li {
    float: left;
}

#sub-footer nav a {
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.09em;
    border-right: 1px solid #777;
    padding-right: 8px;
    margin-right: 10px;
}

#sub-footer nav a:hover {
    color: #ccc;
}

#sub-footer nav .menu-item-27 a {
    border-right: none;
}

#copyright {
    color: #404040;
    font-size: 10px;
    float: left;
    clear: both;
}

#sub-footer .social-nav a {
    float: right;
}

@media only screen and (max-width: 915px) {
    #header-nav nav a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 870px) {
    #header-nav nav a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 800px) {
    #header-nav nav a {
        padding-left: 7px;
        padding-right: 7px;
    }
}


@media only screen and (max-width: 767px) {

    h1 {
        line-height: 1.4em;
    }

    /* Mobile Nav Menu */

    #mobile-cover {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
    }

    .open #mobile-cover {
        display: block;
    }

    #logo-sds {
        bottom: -72px;
        left: 16px;
    }

    #mobile-menu-button {
        color: #fff;
        font-size: 40px;
        text-shadow: 0 0 5px #000;
        position: absolute;
        bottom: -60px;
        right: 30px;
        display: block;
        cursor: pointer;
    }

    #mobile-menu-button:hover {
        color: #ff9900;
    }

    #mobile-menu {
        width: 100%;
        background-color: #1C4280;
        box-shadow: inset 0 0 40px 2px rgba(0,0,0,0.4);
        overflow: auto;
        display: none;
    }

    #mobile-menu ul {
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0;
        overflow: auto;
    }

    #mobile-menu li {
        width: 45%;
        margin-right: 5%;
        margin-bottom: 20px;
        float: left;
    }

    #mobile-menu a {
        color: #fff;
        font-family: 'Akkurat-Light-Pro';
        font-size: 14px;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }

    #mobile-menu a:hover {
        color: #ff9900;
    }

    /* Content */

    #heading-hero {
        min-height: 240px;
        margin-top: 85px;
        margin-bottom: 20px;
    }

    #template-left-sidebar-content {
        padding-bottom: 10px;
    }

    #sidebar {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0;
        margin-bottom: 30px;
        overflow: auto;
    }

    #sidebar li {
        margin-top: 0;
        margin-bottom: 20px;
    }

    #include-default p {
        margin-bottom: 0;
    }

    /* Footer */

    #footer-callouts {
        display: none;
    }

    .home #footer-callouts {
        display: block;
    }

    footer {
        padding-top: 0;
    }

    .home footer {
        padding-top: 100px;
    }

    #sub-footer nav li {
        width: 100%;
        margin-bottom: 10px;
    }

    #sub-footer nav a {
        border: none;
    }

}
