.ui-palette {
  color: white;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
}
.ui-palette dt {
  display: block;
  font-weight: 500;
  opacity: 0.8;
}
.ui-palette dd {
  font-weight: 200;
  margin-left: 0;
  opacity: 0.8;
}

.ui-palette-base {
  background-color: #333333;
}

.ui-palette-base-dark {
  background-color: #666666;
}

.ui-palette-base {
  background-color: #333333;
}

.ui-palette-inverse {
  color: #333333;
  background-color: #eeeeee;
}

.ui-palette-hover {
  background-color: #666666;
}

.ui-palette-disabled {
  background-color: #cccccc;
}

.ui-file-input {
  width: 290px;
  position: relative;
}

.ui-file-input input[type="file"].hidden {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
}

.ui-fake-file {
  width: 190px;
  float: left;
}

.ui-fake-file input {
  width: 100%;
}

.ui-file-input .ui-button {
  width: 100px;
  float: right;
}

.ui-textarea {
  min-height: 132px;
}

.ui-textarea,
.ui-input,
.ui-file-input input,
.ui-uneditable-input {
  border: 2px solid #333333;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 2% 14px 0;
  text-indent: 15px;
}
.ui-textarea:-moz-placeholder,
.ui-input:-moz-placeholder,
.ui-file-input input:-moz-placeholder,
.ui-uneditable-input:-moz-placeholder {
  color: #cccccc;
}
.ui-textarea::-webkit-input-placeholder,
.ui-input::-webkit-input-placeholder,
.ui-file-input input::-webkit-input-placeholder,
.ui-uneditable-input::-webkit-input-placeholder {
  color: #cccccc;
}
.ui-textarea.placeholder,
.ui-input.placeholder,
.ui-file-input input.placeholder,
.ui-uneditable-input.placeholder {
  color: #cccccc;
}

.ui-input[disabled],
.ui-input[readonly],
.ui-file-input input[disabled],
.ui-file-input input[readonly],
.ui-textarea[disabled],
.ui-textarea[readonly] {
  background-color: #cccccc;
  border-color: transparent;
  color: #cccccc;
  cursor: default;
}

.ui-input,
.ui-textarea,
.ui-uneditable-input {
  width: 98%;
}

select {
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  outline: none;
  font-family: inherit;
}

.ui-select {
  background: white url(../images/ui/select.png) no-repeat center right;
  border: 2px solid #333333;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.ui-select select {
  width: 115%;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px 0 4px 10px;
  text-indent: 1px;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  border: none;
}

.ui-select select option {
  padding: 4px 0 4px 4px;
}

.lt-ie8 .ui-select {
  border: none;
}

.lt-ie8 .ui-select select {
  width: 100%;
  background-color: white;
  border: solid 1px #cccccc;
  padding: 0.3em 0.5em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .ui-select {
    background-image: url(../images/ui/selectx2.png);
    background-size: 28px 8px;
  }
}
.ui-button {
  border: none;
  background: #333333;
  color: #eeeeee;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
}
.ui-button:hover, .ui-button:focus {
  background-color: #666666;
  color: #eeeeee;
}
.ui-button:active, .ui-button.active {
  background-color: #666666;
  color: rgba(238, 238, 238, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-button.ui-disabled, .ui-button[disabled] {
  background-color: #cccccc;
  color: #eeeeee;
}
.ui-button.ui-button-large {
  padding-bottom: 11px;
  padding-top: 11px;
}

.ui-button[type="reset"], .ui-button[type="submit"] {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.ui-checkbox,
.ui-radio {
  cursor: pointer;
  margin-bottom: 12px;
  padding: 3px 0 0 32px;
  position: relative;
  display: block;
}
.ui-checkbox:hover,
.ui-radio:hover {
  color: #666666;
}
.ui-checkbox input,
.ui-radio input {
  cursor: pointer;
  outline: none !important;
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;
  height: 20px;
}
.ui-checkbox.checked .icon,
.ui-radio.checked .icon {
  background-position: 0 bottom;
  opacity: 1;
  display: block\9;
}
.ui-checkbox.checked .icon-to-fade,
.ui-radio.checked .icon-to-fade {
  opacity: 0;
  display: none\9;
}
.ui-checkbox.disabled,
.ui-radio.disabled {
  color: #cccccc;
  cursor: default;
}
.ui-checkbox.disabled .icon,
.ui-radio.disabled .icon {
  opacity: 0;
  display: none\9;
}
.ui-checkbox.disabled .icon-to-fade,
.ui-radio.disabled .icon-to-fade {
  background-position: 0 top;
  opacity: 0.25;
  display: block\9;
}
.ui-checkbox.disabled.checked .icon,
.ui-radio.disabled.checked .icon {
  background-position: 0 bottom;
  opacity: 0.25;
  display: block\9;
}
.ui-checkbox.disabled.checked .icon-to-fade,
.ui-radio.disabled.checked .icon-to-fade {
  opacity: 0;
  display: none\9;
}
.ui-checkbox .icon,
.ui-checkbox .icon-to-fade,
.ui-radio .icon,
.ui-radio .icon-to-fade {
  background: url("../images/ui/checkbox.png") 0 top no-repeat;
  display: block;
  height: 20px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: -1px;
  width: 20px;
}
.ui-checkbox .icon,
.ui-radio .icon {
  opacity: 0;
  top: 0;
  z-index: 2;
  display: none\9;
}

.ui-radio .icon,
.ui-radio .icon-to-fade {
  background-image: url("../images/ui/radio.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2) {
  .ui-checkbox .icon {
    background-image: url("../images/ui/checkbox-2x.png");
    background-size: 40px 40px;
  }

  .ui-radio .icon {
    background-image: url("../images/ui/radio-2x.png");
    background-size: 110px 110px;
  }
}
