/* General Style Guide for theme will be overwritten by child theme styles */

/* Default Font Family */

/* #############################
  sans-serif typeface == 
  serif typeface      == 
  ############################## */

html, button, input, select, textarea {  }


/* ==========================================================================
   Typography
   ========================================================================== */

h1 {  }
h2 {  }
h3 {  }
h4 {  }
h5 {  }
h6 {  }
p, pre {  }
strong, b {  }
blockquote {  }


/* ==========================================================================
   Lists
   ========================================================================== */

ul, dl, menu, ol {  }


/* ==========================================================================
   Links
   ========================================================================== */

a, a:visited {  }

a:hover, a:active {  }


/* ==========================================================================
   Forms
   ========================================================================== */

form {  }

input {  }

::-webkit-input-placeholder {  }

/* Firefox 18- */
:-moz-placeholder {  }

/* Firefox 19+ */
::-moz-placeholder {  }

:-ms-input-placeholder {  }

.select-container {  }

select {  }

.select-icon {  }

.radio, .checkbox span {  }

input[type="radio"] {  }

.radio, .checkbox {  }

input[type="checkbox"] {  }

input[type="submit"] {  }

textarea {  }

button, .button {  }

.button span {  }

