
/* Callouts */

#footer-callouts {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.footer-callout {
    max-width: 280px;
    min-height: 307px;
    background-color: #1c4280;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

.footer-callout img {
    width: 100%;
    height: auto;
    box-shadow: inset 0 -6px 6px 0 rgba(0,0,0,0.75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer-callout-2 {
    margin-left: 5%;
    margin-right: 5%;
}

.footer-callout-info {
    padding: 20px;
}

.footer-callout-info p {
    margin: 0;
}

.footer-callout-info .ui-button {
    margin-bottom: 0;
}


@media only screen and (max-width: 767px) {

    .footer-callout {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    #footer-callout-2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

}