
.template-home {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

#template-home {
    padding: 40px 20px;
}

#template-home .default-content {
    color: #e5e5e5;
}

#home-photo {
    width: 100%;
    max-width: 422px;
    height: auto;
    border: 4px solid #1c4176;
    border-radius: 4px;
    float: right;
}


@media only screen and (max-width: 800px) {

    #car-dirty {
        left: 487px;
    }

    #car-clean {
        left: 487px;
    }

    #overhang {
        left: 419px;
    }

    #garage-1 {
        left: 711px;
    }

    #garage-2 {
        left: 487px;
    }

}


@media only screen and (max-width: 767px) {

    #template-home {
        padding-top: 70px;
    }

    #home-photo {
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
    }

    #car-dirty {
        left: 487px;
    }

    #car-clean {
        left: 487px;
    }

    #overhang {
        left: 413px;
    }

}