
#template-slideshow {
    height: 553px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

#slider {
    height: 553px;
    display: none;
    overflow: hidden;
}

#slider-content-container {
    height: 553px;
}

#slider-content {
    width: 360px;
    text-align: center;
    position: absolute;
    top: 80px;
    right: 60px;
    z-index: 999;
    display: none;
}

#sliderTitle {
    color: #fff;
    font-family: 'Akkurat-Light-Pro';
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

#slider-prev, #slider-next {
    width: 19px;
    height: 32px;
    z-index: 500;
    position: absolute;
    top: 47%;
    display: block;
    outline: 0;
}

#slider-prev {
    background: url('../../images/home/slide_left.png') no-repeat center top;
    left: 60px;
    z-index: 9999;
}

#slider-next {
    background: url('../../images/home/slide_right.png') no-repeat center top;
    right: 60px;
    z-index: 9999;
}

#slider-prev:hover, #slider-next:hover {
    background-position: bottom;
}

#slider-nav {
    width: 100%;
    height: 10px;
    text-align: center;
    position: absolute;
    bottom: 18px;
    z-index: 9998;
}

#slider-nav a {
    display: inline-block;
    background: url('../../images/home/slide_indicator.png') no-repeat center top;
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    text-indent: -9999px;
    outline: 0;
    cursor: default;
}

#slider-nav .activeSlide {
    background-position: bottom;
    outline: 0;
}

.slide {
    width: 100%;
    height: 553px;
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
}

#slide-1 {
    cursor: default;
}

#slide-1 .grid-container {
    height: 553px;
}

#van {
    width: 731px;
    height: 118px;
    background: url('../../images/home/van.png') no-repeat center center;
    position: absolute;
    bottom: 0;
    left: 1000px;
    z-index: 6;
    display: none;
}

#car-dirty {
    width: 207px;
    height: 130px;
    background: url('../../images/home/car_dirty.png') no-repeat center center;
    position: absolute;
    top: 412px;
    left: 557px;
    z-index: 5;
}

#car-clean {
    width: 207px;
    height: 130px;
    background: url('../../images/home/car_clean.png') no-repeat center center;
    position: absolute;
    top: 412px;
    left: 557px;
    z-index: 4;
}

#sign {
    width: 102px;
    height: 185px;
    background: url('../../images/home/sign.png') no-repeat center center;
    position: absolute;
    top: -185px;
    right: -142px;
    z-index: 3;
    display: none;
}

#overhang {
    width: 318px;
    height: 159px;
    background: url('../../images/home/overhang.png') no-repeat center center;
    position: absolute;
    top: 153px;
    left: 487px;
    z-index: 2;
    display: none;
}

#garage-1 {
    width: 81px;
    height: 0;
    background: url('../../images/home/garage-01.png') no-repeat center center;
    position: absolute;
    top: 374px;
    left: 777px;
    z-index: 1;
    display: none;
}

#garage-2 {
    width: 181px;
    height: 0;
    background: url('../../images/home/garage-02.png') no-repeat center center;
    position: absolute;
    top: 366px;
    left: 553px;
    z-index: 1;
    display: none;
}