
#blog-container {
    padding-left: 20px;
    padding-right: 20px;
}

#template-blog-sidebar {
    font-family: 'Akkurat-Light-Pro';
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: #16335d;
    border-radius: 10px;
    padding: 10px;
}

#template-blog-sidebar .widget_archive ul {
    border-bottom: 1px solid #395175;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

#template-blog-sidebar .widgettitle {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
}

#template-blog-sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#template-blog-sidebar li {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#template-blog-sidebar a {
    color: #fff;
    text-decoration: none;;
}

#template-blog-sidebar a:hover {
    color: #ff9900;
}

/* Blog */

#include-blog {
    margin-left: 40px;
}

#blog-intro {
    border-bottom: 1px solid #4b7ec5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.blog-post {
    border-bottom: 1px solid #4b7ec5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.blog-post:last-child {
    border: none;
}

.blog-post h2 {
    color: #ff9900;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.blog-date {
    font-size: 12px;
    font-style: italic;
}

.blog-excerpt p {
    margin-bottom: 10px;
}


@media only screen and (max-width: 767px) {

    #template-blog-sidebar {
        margin-bottom: 20px;
    }

    #include-blog {
        margin-left: 0;
    }

}
