
#includes-contact-us {
    padding-left: 20px;
    padding-right: 20px;
}

#contact-us-info {
    width: 27%;
    margin-right: 5%;
    float: left;
}

#contact-us-address {
    color: #ff9900;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}

#contact-us-info p {
    margin-top: 0;
    margin-bottom: 5px;
}

#contact-us-map {
    width: 68%;
    max-width: 582px;
    height: 320px;
    color: #000;
    border: 3px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    float: right;
}

#includes-contact {
    border-top: 1px solid #4b7ec5;
    padding: 40px 20px 0 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}

#includes-contact h3 {
    font-family: 'Akkurat-Light-Pro';
    font-style: italic;
}


@media only screen and (max-width: 767px) {

    #includes-contact-us {
        overflow: auto;
    }

    #contact-us-info {
        width: 100% !important;
        margin-bottom: 30px;
    }

    #contact-us-map {
        width: 100% !important;
        float: left !important;
    }

}