
#showroom {
    width: 100% !important;
    background-color: #000;
    border: 3px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
}

#showroom img {
    width: 100%;
    height: auto;
}

#slider-prev, #slider-next {
    width: 19px;
    height: 32px;
    z-index: 500;
    position: absolute;
    top: 47%;
    display: block;
    outline: 0;
}

#slider-prev {
    background: url('../../images/home/slide_left.png') no-repeat center top;
    left: 30px;
    z-index: 9999;
}

#slider-next {
    background: url('../../images/home/slide_right.png') no-repeat center top;
    right: 30px;
    z-index: 9999;
}

#slider-prev:hover, #slider-next:hover {
    background-position: bottom;
}

#slider-nav {
    width: 100%;
    height: 12px;
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 9998;
}

#slider-nav a {
    display: inline-block;
    background: url('../../images/home/slide_indicator.png') no-repeat center top;
    height: 12px;
    width: 12px;
    margin: 0 10px 0 0;
    text-indent: -9999px;
    outline: 0;
    cursor: default;
}

#slider-nav .activeSlide {
    background-position: bottom;
    outline: 0;
}


@media only screen and (max-width: 767px) {

    #showroom {
        margin-bottom: 60px;
    }

    #slider-prev, #slider-next {
        top: 36%;
    }

    #slider-prev {
        left: 10px;
    }

    #slider-next {
        right: 10px;
    }

    #slider-nav {
        bottom: 30px;
    }

}