
#services-intro {
    border-bottom: 1px solid #4b7ec5;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#services-intro p {
    line-height: 1.8em;
}

.service {
    border-bottom: 1px solid #4b7ec5;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.service h1 {
    color: #ff9900;
    font-weight: bold;
}

.service ul {
    font-size: 12px;
    padding-left: 15px;
    margin-top: 0;
}

.service li {
    margin-bottom: 5px;
}

.starting {
    font-family: 'Akkurat-Light-Pro';
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    margin: 0;
}

.price {
    font-family: 'Akkurat-Light-Pro';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    margin: 0;
}

.appointment {
    margin-top: 0;
}

.read-description {
    color: #ff9900;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}

.service-description {
    line-height: 1.8em;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {

    .service {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .service-pricing {
        border-bottom: 1px solid #4b7ec5;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

}