
.team-member {
    line-height: 1.8em;
    border-bottom: 1px solid #4b7ec5;
    padding: 20px 20px 50px 20px;
    margin-top: 30px;
    box-sizing: border-box;
}

.team-member:last-child {
    border-bottom: none;
}

#team-member-1 {
    background-color: #1c4280;
    border-radius: 10px;
    border-bottom: none;
}

.team-member-photo {
    max-width: 117px;
    background-color: #fff;
    padding: 5px;
}

.team-member-photo img {
    width: 100%;
    max-width: 117px;
    height: auto;
}

.team-member h2 {
    margin-bottom: 0;
}

.team-member-title {
    font-style: italic;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {

    .team-member-photo {
        margin-top: 20px;
    }

}