.include-video {
	position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    z-index: 2;
}

.include-video iframe {
	position: relative;
}

@media screen and (max-width: 767px) {
	
	.include-video iframe {
		height: 220px !important;
	}

}
